@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Assets/high-resolution-logo-transparent.png" height="500" width="700"/>
    <p style="font-size:22px; color: #561F01; margin:5px">Greetings esteemed employee of FantasyExpress.</p>
    <p style="font-size:22px; color: #561F01; margin:5px">Use this website to manage the remarkable resources of our exalted enterprise.</p>
</div>
